@{
    string setting = System.Web.Configuration.WebConfigurationManager.AppSettings["someAppSetting"];
}

<html>
<body>
    <h2>Azure DevOps demo by MKatinski</h2>
    <h3>Welcome to the webinar hosted by SuperAdmins</h3>
</body>
</html>

